<form class="sign-in" [formGroup]="signInFormGroup" (ngSubmit)="handleSignIn()">
  <mat-form-field appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="this.loginError">{{ this.loginError }}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Sign In</button>
</form>
