<mat-card class="main-card">
  <div class="content-wrapper">
    <div class="poster" [style.background-image]="posterUrl"></div>
    <aside>
      <h3>
        {{ data.name
        }}<span id="movie-length">{{ data.length + " min." }}</span>
      </h3>
      <h5>{{ data.genre.join(" / ") }}</h5>
      <h5>{{ "Od " + (data.minimalAge | plural: "rok") }}</h5>
      <div class="controls">
        <button mat-flat-button color="primary" class="icon-button">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <a mat-flat-button color="accent" class="icon-button">
          <mat-icon id="settings-icon">settings</mat-icon>
        </a>
        <button
          mat-stroked-button
          color="primary"
          id="show-desc"
          (click)="triggerDescription()"
        >
          Zobraziť popis
        </button>
      </div>
    </aside>
  </div>
</mat-card>
<mat-card
  class="description-card"
  [@showDesc]="isDescriptionHidden ? 'closed' : 'open'"
>
  <p>
    {{ data.description }}
  </p>
</mat-card>
