.main-card {
  background: white;
  padding: 8px;
  z-index: 2;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

h3 {
  color: black;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}
h5 {
  width: auto;
  color: gray;
  line-height: 15px;
}

h3,
h5 {
  margin: 0;
}

aside {
  flex: 1;
  button {
    font-size: 12px;
  }
}

.poster {
  width: 65px;
  height: 90px;
  background: black;
  border-radius: 5px;
  background-size: cover;
}

.controls {
  display: flex;
  gap: 5px;
  padding-top: 7px;
}
#show-desc {
  margin-left: auto;
}
#movie-length {
  float: right;
  color: gray;
  text-transform: lowercase;
}
#settings-icon {
  color: rgb(95, 95, 95);
}

// DESCRIPTION
.description-card {
  background: rgb(240, 240, 240);
  color: rgb(155, 155, 155);
  transform: translateY(-5px);
  overflow: hidden;
  display: flex;
  align-items: center;
}
