h1,
h2,
h3 {
  margin: 0;
}

p,
h2 {
  margin-bottom: 10px;
}

p {
  color: rgb(177, 177, 177);
}

.movie-detail {
  max-width: 1000px;
  display: flex;
}
aside:first-of-type {
  flex: 3;
}
aside:last-of-type {
  flex: 2;
}
#poster {
  float: right;
  overflow: hidden;
  border-radius: 20px;
}
#buy-tickets {
  float: right;
}
