<mat-card class="main-card">
  <div class="content-wrapper">
    <div class="poster" [style.background-image]="posterUrl"></div>
    <aside>
      <h3>
        {{ data.screening.movie.name
        }}<span id="screening-price">{{
          data.screening.movie.length + 'min.'
        }}</span>
      </h3>
      <h5>{{ data.screening.movie.genre.join(' / ') }}</h5>
      <h5>
        {{ data.screening.datetime.toDate() | date: 'dd. MM. yyyy - HH:mm' }}
      </h5>
      <h5>{{ 'Od ' + (data.screening.movie.minimalAge | plural: 'rok') }}</h5>
    </aside>
  </div>
</mat-card>
<mat-card class="description-card">
  <div *ngFor="let spectator of data.spectators; let i = index">
    <div class="spectator">
      <div class="seat-box">
        <span>{{ spectator.seat }}</span>
      </div>

      <h3>
        {{ spectator.name + ' ' + spectator.surname | shortString: 20 }}<br />
        <h4>{{ spectator.age | plural: 'rok' | shortString: 20 }}</h4>
      </h3>
    </div>

    <mat-divider *ngIf="i < data.spectators.length - 1"></mat-divider>
  </div>
</mat-card>
